@media (max-width: 768px) {
  .numeric-keypad {
    display: none;
  }
}

.numeric-keypad .btn {
  font-size: 1rem;
  padding: 10px;
  /* height: 60px !important;
  width: 60px !important; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.numeric-keypad td {
  padding: 0;
}

.numeric-keypad .btn-light {
  background-color: white;
  border: 1px solid #dee2e6;
}

.numeric-keypad .btn-light:hover {
  background-color: #f8f9fa;
}

.pago-button {
  height: 212px !important;
}

.fixed-width-button {
  width: 110px !important; /* Ajusta el ancho según tus necesidades */
}
